body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./assests/4k-car.jpg');
    background-size: cover;
    background-position: center;
}